<div role="tablist" class="tabs tabs-bordered">
  <button type="button" class="tab button-hover-effect" *ngFor="let class of classNames"
          [attr.aria-label]="class" (click)="onClassChange(class)" [class.active]="currentClass === class">
    {{ class }}
  </button>
</div>

<div class="cardTabs">
  <ng-container *ngIf="!loading; else loadingOrError">
    <div *ngFor="let card of cards[currentClass]" class="card w-96 bg-base-100 shadow-xl">
      <figure><img [src]="card.image" /></figure>
    </div>
  </ng-container>

  <ng-template #loadingOrError>
    <div class="loading-container" *ngIf="loading">
      <span class="loading loading-bars loading-lg"></span>
    </div>
    <div class="error-message" *ngIf="error">
      <p>There has been an error fetching the data.</p>
    </div>
  </ng-template>
</div>

<app-paginator
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="onPageChange($event)">
</app-paginator>
