.input{
  margin-top: 10px;
  width: 350px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 16px;
  margin-top:18px;
}

.card {
  flex: 1 1 auto;
  max-width: 300px;
  margin: 0 8px;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
