<div class="description">
<h1>Welcome to Hearthstone Deck Builder</h1>
  <h2>This is a simple HS project that lets you see all card back available in the game as well as all the cards in the game.</h2>
  <h2> You can also build a deck with the cards you like. Enjoy!</h2>
</div>


<div class="buttons">
<a href="/card-backs" class="btn btn-outline btn-primary">Card Backs</a>
<a href="/card-info" class="btn btn-outline btn-primary">Card Info</a>
<a href="/deck-builder" class="btn btn-outline btn-primary">Build a deck</a>
</div>

