.description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.buttons{
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  flex-wrap: wrap;
  gap: 16px; /* Adjust the gap between cards as needed */
  padding: 0 16px; /* Optional: Add padding to prevent cards from touching screen edges */
}
a{
  flex: 1 1 auto;
  max-width: 300px; /* You can adjust the max width as needed */
  margin: 0 8px; /* Equal left and right margins for consistency */
}
